@import "includes/mixins";

ul.hamburger{
	border: 1px solid #CCC;
	list-style: none;
	margin: 0;
	padding: 3px;
	border-radius: 2px;
	width: 31px;
	height: 31px;
	background-color: #FFF;
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;
	/*temporarily disabling hamburger*/
	/*display: none; */

	&:hover {
		background-color: #AABB88;
	}

	li {
		height: 5px;
		background-color: #000;
		margin: 4px;
		border-radius: 2px;
	}
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: absolute;
	left: -150px;
	top: 0;
	height: 100%;
	background-color: #000;
	color: #FFF;
	width: 150px;
	li {
		padding: 15px 20px;
		border-bottom: 1px solid #444;
		font-size: 14px;
		cursor: pointer;
	}
}

.menu-open {
	ul.menu {
		left:0;
	}
	ul.hamburger {
		left: 170px;
	}
	#page {
		margin-left: 150px;
		width: 350px;
	}
}

.menu-open #page, .menu-open ul.hamburger, .menu-open ul.menu{
	transition(all 0.3s ease);
}

body {
	background: url(../../images/pattern.png) repeat #000;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

form{
	margin: 0;
	padding: 0;
}

footer{
	font-size: 0.7em;
	color:#999;
	text-align: center;
	padding: 10px;
}

a {
	color: #009B8E;
	&:hover {
		text-decoration: none;
	}
}


input {
	border:1px solid #CCC;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}

label {
	display: block;
	margin-bottom: 10px;
}

#box {
	background-color: #FFF;
	border-radius:4px;
	margin: 40px auto;
	min-height: 500px;
	padding: 40px;
	text-align: center;
	width:350px;
	position: relative;
	overflow: hidden;
}

.page {
	display: none;
}

button {
	background-color: #333;
	border-radius:2px;
	border: 1px solid #000;
	color: #FFF;
	font-size: 14px;
	outline: none;
	padding: 15px;
	text-transform: uppercase;
	width:100%;
}

button[disabled="disabled"].disabled, button[disabled="disabled"].disabled:hover {
	background-color: #AAA;
	cursor: default;
}

button.remove, button.re-enter {
	background-color: #dc3847;
	font-size: 12px;
	margin: 5px;
	padding: 3px 5px;
	float: right;
	width: auto;
	text-transform: none;
}

button.re-enter {
	background-color: #333;
}

button.remove:hover {
	background-color: #ED4958;
}

button:hover {
	background-color: #000;
	cursor: pointer;
}

button:active {
	background-color: #333;
}

.back {
	font-size: 2em;
	line-height: 1em;
}

table {
	border-collapse: collapse;
}

th {
	background-color: #AABB88;
	color: #FFF;
} 

td, th {
	padding: 10px;
	text-align: center;
}

table{
	margin: 20px auto;
}

form[name='scoreSettings'] > div {
	text-align: left;
	margin-bottom: 10px;
}

form[name='scoreSettings'] button {
	margin-top: 10px;
}

.error {
	visibility: hidden;
	color: #CC0000;
	font-size: 11px;
	line-height: 20px;
}


.fb-like{
	margin:20px 0;
	text-align: center;
}

ol {
	margin: 0 0 40px 0;
	padding: 0;
	list-style-position: inside;
}

ol li {
	text-align: left;
	line-height: 2em;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}

#intro button{
	margin: 20px 0;
}

#rules {
	line-height: 1.5em;
	text-align: left;
}

#players input{
	margin-bottom: 20px;
}

.scoreCard {
	.more {
		display: none;
	}
	.totalScore {
		float: right;
	}
	ol {
		list-style: none;
	}
	.name {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	    text-overflow: ellipsis; 
	    font-weight: 400;
	}
	.score {
		display: inline-block;
		width: 30px;
	}

	td {
		text-align: right;
	}
	.vertical {
		table-layout: fixed;
		width: 100%;
	}
	.small {
		font-size: 11px;
	}
	.strike {
		text-decoration: line-through;
	}
	.tableBox {
		/*width: calc(100% - 130px);*/
		overflow: scroll;
		direction:rtl; 
		background-color: #EEE;
		table {
			direction:ltr; 	
		}
	}
	.tables {
		margin:20px 0;
		white-space: nowrap;
		table {
			margin: 0;
			padding: 0;
		}
	}
	tr {
		height: 52px;
		overflow: hidden;
	}
	.nameTable{
		float: left;
		.name {
			width: 50px;
			font-size: 12px;
		}
	}
}

#roundScore input[type="number"] {
	margin-bottom: 20px;
}

@media (max-width: 432px) {
	h1 {
		font-size: 1.4em;
		margin: 5px 0 30px;
	}
  	#box {
    	border: 0 none;
    	margin: 0;
    	width: auto;
    	min-height: auto;
    	padding: 20px;
  	}
}