@import "includes/mixins";

h1 {
	font-weight: 600px;
}

ul.hamburger{
	border: 1px solid #CCC;
	list-style: none;
	margin: 0;
	padding: 3px;
	border-radius: 2px;
	width: 31px;
	height: 31px;
	background-color: #FFF;
	position: absolute;
	left: 20px;
	top: 20px;
	cursor: pointer;

	li {
		height: 5px;
		background-color: #000;
		margin: 4px;
		border-radius: 2px;
	}

	&:hover {
		background-color: #f1f1f1;
		li {
			background-color: #000;
		}
	}
}

ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	position: absolute;
	left: -150px;
	top: 0;
	height: 100%;
	background-color: #000;
	color: #FFF;
	width: 150px;
	li {
		padding: 15px 20px;
		border-bottom: 1px solid #444;
		font-size: 14px;
		cursor: pointer;
	}
}

.menu-open {
	ul.menu {
		left:0;
	}
	ul.hamburger {
		left: 170px;
	}
	#page {
		margin-left: 150px;
		width: 350px;
	}
}

.menu-open #page, .menu-open ul.hamburger, .menu-open ul.menu{
	transition(all 0.3s ease);
}

body {
	background: url(../../images/pattern.png) repeat #000;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

form{
	margin: 0;
	padding: 0;
}

.footer{
	font-size: 10px;
	color:#999;
	text-align: center;
	padding: 10px;

	a {
		font-size: 10px;
	}
}

a {
	color: #2c9ab7;
	font-size: 13px;
	&:hover {
		text-decoration: none;
	}
}


input {
	border:1px solid #CCC;
	padding: 10px;
	width: 100%;
	boxSizing(border-box);
	font-size: 14px;
	&:focus {
		outline: none;
		border: 1px solid #2c9ab7;
	}
}

.col {
	padding:5px;
	input {
		width: 28px;
	    padding: 4px;
	    font-family: monospace;
	}
}

.invalid input:required:invalid{
	border: 1px solid #FF0000;
}

.message {
    position: absolute;
    text-align: center;
    width: calc(100% - 40px);
    top: 0;
    background-color: #39A0BB;
    padding: 20px;
    left: 0;
    color: #fff;
    z-index: 1;
    display: none;
}

label {
	display: block;
	margin-bottom: 10px;
}

.sortable {
	list-style: none;
	li {
		text-align: left;
	    line-height: 2em;
	    padding: 5px 10px;
	    border: 1px dotted #CCC;
	    margin: 10px 0;
	    height:32px;
	    .handle {
	    	display: inline-block;
	    	cursor: move;
	    	margin-left: -10px;
    		padding-left: 10px;
	    }
	    .ui-icon {
	    	display: inline-block;
	    	position: relative;
	    	top: 1px;
	    	left: -3px;
	    }
	    &.ui-sortable-helper {
	    	background-color: #FFEEAA;
	    }
	}
}

#box {
	background-color: #FFF;
	border-radius:4px;
	margin: 40px auto;
	min-height: 500px;
	padding: 40px;
	text-align: center;
	width:350px;
	position: relative;
	overflow: hidden;
}

#about {
	text-align: left;
	h1 {
		text-align: center;
	}
	p, li {
		font-size: 14px;
		line-height: 1.5em;
	}
	p{
		margin: 0 0 20px 0;
	}
	h3{
		margin: 0 0 20px 0;
	}
}

#terms {
	text-align: left;
	h1{
		text-align: center;
		font-size: 12px;
	}
	p {
		font-size: 10px;
		line-height: 1.2em;
	}
	a {
		color: #000;
		text-decoration: none;
	}
}

.page {
	display: none;
}

button {
	background-color: #e85c41;
	border: none;
	border-radius: 4px;
	color: #FFF;
	font-size: 14px;
	outline: none;
	padding: 15px;
	width:100%;
	transition(all 0.3s ease);
	max-width: 350px;

	&.save {
		width:50%;
		padding:8px;
	}

	&:hover {
		background-color: #db3a1b;
		cursor: pointer;
	}

	&:active {
		background-color: #e85c41;
	}

	&.remove,
	&.re-enter {
		background-color: #dc3847;
		font-size: 12px;
		margin: 5px;
		padding: 3px 5px;
		float: right;
		width: auto;
		border-radius: 2px;
		text-transform: none;
	}

	&.re-enter {
		background-color: #e85c41;
	}

	&.remove:hover {
		background-color: #ED4958;
	}
}

button[disabled="disabled"].disabled, button[disabled="disabled"].disabled:hover {
	background-color: #AAA;
	cursor: default;
}

input:disabled{
	background-color: #F1F1F1;
}

.back {
	font-size: 2em;
	line-height: 1em;
}

table {
	border-collapse: collapse;
}

th {
	background-color: transparent;
	color: #000;
}

tr:nth-child(even) {
    background-color: #F1F1F1;
}

td, th {
	padding: 5px 10px;
	text-align: center;
}

.total {
	/*background: #AABBCC;*/
}

.round {
	display: inline-block;
    background: #2c9ab7;
    color: #FFF;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    text-decoration: none;
    &.drop {
    	background-color: #69B25B;
    	&:hover {
    		background-color: #69B25B;
    	}
    }
    &.middle-drop {
    	background-color: #FDBD41;
    	&:hover {
    		background-color: #FDBD41;
    	}
    }
    &:hover{
    	background-color: #e85c41;
    }
}

.edit{
	font-size: 9px;
	font-weight: bold;
	text-transform: uppercase;
}

table {
	margin: 20px auto;
}

form[name='scoreSettings'] > div, form[name='saveRoundScore'] > div {
	text-align: left;
	margin-bottom: 10px;
}

form[name='scoreSettings'] button {
	margin-top: 10px;
}

.fb-like {
	margin:20px 0;
	text-align: center;
}

ol {
	margin: 0 0 40px 0;
	padding: 0;
	list-style-position: inside;
}

ol li {
	text-align: left;
	line-height: 2em;
	padding: 10px 0;
	border-bottom: 1px solid #999;
}

table, td, th {
	border: 1px solid #CCC;
}

#intro {
	button {
		margin: 20px 0;
	}
}

#rules {
	line-height: 1.5em;
	text-align: left;
}

#players input{
	margin-bottom: 20px;
}

.scoreCard {
	.more {
		display: none;
	}
	.totalScore {
		float: right;
	}
	ol {
		list-style: none;
	}
	.name {
		display: inline-block;
		width: 100%;
		overflow: hidden;
		white-space: nowrap;
	    text-overflow: ellipsis; 
	    font-weight: 400;
	    line-height: 1.5em;
	}
	.score {
		display: inline-block;
		width: 30px;
	}

	td {
		text-align: right;
		&.center{
			text-align: center;
		}
	}

	.vertical {
		border: 1px solid #CCC;
		table-layout: fixed;
		width: 100%;
		.dropsleft > span{
			white-space: nowrap;
		}
	}

	.small {
		font-size: 11px;
		padding: 0;
		text-align: center;
	}

	.strike {
		text-decoration: line-through;	
		div, span, a, td {
			text-decoration: line-through;	
		}
		.round {
			color: #000;
			background-color: transparent;
			&:hover {
				background-color: transparent;
			}
		}
	}
	
	.tableBox {
		/*width: calc(100% - 130px);*/
		overflow: scroll;
		direction:rtl; 
		/*background-color: #EEE;*/
		table {
			direction:ltr; 	
		}
	}
	.tables {
		background: url(../../images/table-stripes.gif) repeat #FFF;
		margin:20px 0;
		white-space: nowrap;
		border: 1px solid #CCC;
		table {
			margin: 0;
			padding: 0;
		}
		tr:nth-child(even) {
		    background-color: transparent;
		}
	}
	tr {
		height: 52px;
		overflow: hidden;
	}
	.nameTable {
		background-color: transparent;
		float: left;
		&.shadow {
			boxShadow(2px 0px 2px #BBB);
		}
		.name {
			width: 50px;
			font-size: 12px;
			line-height: 1.3em;
		}
		th {
			background-color: transparent;
		}
	}

	p.legend {
		text-align: left;
    	font-size: 10px;
		a {
			display: inline-block;
		    line-height: 10px;
		    width: 10px;
		    height: 10px;
		}
	}
}

#roundScore .number {
	margin-bottom: 20px;
}

@media (max-width: 432px) {
	h1 {
		font-size: 1.2em;
		margin: 5px 0 30px;
	}
  	#box {
    	border: 0 none;
    	border-radius: 0;
    	margin: 0;
    	width: auto;
    	min-height: 440px;
    	padding: 20px;
  	}
}

@media (max-width: 350px) {
  	.message {
  		width: auto;
  		font-size:14px;
  	}
}